<div class="ui stackable grid padded">
 <div class="ui row m-0"><div class="ui sixteen wide column">
  <div class="ui  basic segment">
 <div class="ui header">
     Databases
 </div>
 <div class="ui divider"></div>
 <div class="ui attached tabular  top menu">
  <a class="item active" data-tab="admin">
    Admin
  </a>
  <a class="item  " data-tab="users">
    Users
  </a>
    <a class="item  " data-tab="plans">
    plans
  </a>
 
</div>

{{!-- Admin Database table --}}
<div class="ui bottom attached segment tab active     " data-tab="admin">
<table class="ui selectable   basic padded celled  table"  >
<thead>
        <tr>
            <th>Id</th>
            <th class=" center aligned"><i class="icon user"></i></th>
            <th>CreateDate</th>
            <th>Name</th>
            <th>Email</th>
            <th>username</th>
            <th>Mobile</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each admin as |admin|}}
               <tr>
            <td><span data-content="{{this.id}}" class="popup"> {{this.id}}</span></td>
            
            
        <td class="center aligned">
      
        {{#if this.isActive}}

        <i class="icon green check"></i>
         {{else}}
         <i class="icon red times"></i>
        {{/if}}
      </td>
      <td>
          {{this.createDate}}
      </td>
      <td>
          {{this.fullName}}
      </td>
      <td>
         <span data-content="{{this.email}}" class="popup"> {{this.email}}</span>
      </td>
      <td>
          {{this.username}}
      </td>
      <td>
          {{this.mobile}}
      </td>
      
      </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{!-- Users Database Table --}}
 <div class="ui bottom attached segment tab" data-tab="users">
  {{users}}
</div>
{{!-- Plans database Table --}}
 <div class="ui bottom attached segment tab" data-tab="plans">
 {{plans}}
</div>

  </div>
  
</div>
 
  </div>
 